*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient( rgb(89, 168, 173),rgb(250, 250, 250)) ;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(250px, auto) repeat(7, 70px);
    grid-gap: 3px;
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .9);
}

.btn-num:hover, button:hover {
    background-color: rgb(155, 155, 155);
}

.grid-container > .graph-active {
    background-color: rgb(36, 143, 36);
}

.operator:hover {
    background-color: rgb(29, 96, 151);
}

.delete:hover {
    background-color: rgb(255, 201, 23);
}

.all-clear:hover {
    background-color: rgb(220, 20, 60);
}

.span-two {
    grid-column: span 2;
}

.span-four {
    grid-column: span 4;
}

.screen {
    grid-column: 1 / -1;
    background-color: rgb(241, 241, 241);
    display: flex;
    text-align: right;
    /* align-items: flex-end; */
    /*justify-content: space-around;*/
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid black;
    border-radius: 10px;
}

.screen .screen-view {
    position: relative;
    color: black;
    font-size: 2.5rem;
    width: 100%;
    height: calc(100% - 29px);

}

.screen .input-view {
    color: black;
    font-size: 1.5rem;
}

canvas {
    background-color: rgba(108, 247, 108, 0.301);
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  
#canvas.hidden {
    display: none;
  }
  

#cursor > img {
    max-height: 1.5em;
    height: 1.5em;
    width: auto;
}