.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 300px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "screen screen screen screen" "graph . retour clear" "btn-X par-g par-d add" "btn-7 btn-8 btn-9 minus" "btn-4 btn-5 btn-6 multip" "btn-1 btn-2 btn-3 divide" "virg btn-0 neg equal";
  }
  
  .screen { grid-area: screen; }
  
  .clear { grid-area: clear; }
  
  .add { grid-area: add; }
  
  .minus { grid-area: minus; }
  
  .multip { grid-area: multip; }
  
  .divide { grid-area: divide; }
  
  .equal { grid-area: equal; }
  
  .retour { grid-area: retour; }
  
  .par-d { grid-area: par-d; }
  
  .btn-9 { grid-area: btn-9; }
  
  .btn-6 { grid-area: btn-6; }
  
  .btn-3 { grid-area: btn-3; }
  
  .neg { grid-area: neg; }
  
  .graph { grid-area: graph; }
  
  .par-g { grid-area: par-g; }
  
  .btn-8 { grid-area: btn-8; }
  
  .btn-5 { grid-area: btn-5; }
  
  .btn-2 { grid-area: btn-2; }
  
  .btn-0 { grid-area: btn-0; }
  
  .btn-X { grid-area: btn-X; }
  
  .btn-7 { grid-area: btn-7; }
  
  .btn-4 { grid-area: btn-4; }
  
  .btn-1 { grid-area: btn-1; }
  
  .virg { grid-area: virg; }